body {
    font-family: Roboto;
    color: #333;
}

a {
    /*display: block;*/
    /*border: 1px solid red;*/
}

h1 {
  /*border: 2px dashed blue;*/
  margin: 1em;  
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        color: #996633;
    }

    50% {
        transform: rotate(180deg);
        color: #336699;
    }

    100% {
        transform: rotate(360deg);
        color: #996633;
    }
}

h1 i.material-icons {
    color: #336699;
    font-size: 2em;
    animation: 5s linear infinite spin;
}


/** Only on a big screen */
@media ( min-width: 10000px ) {
    body {
        padding-right: 18em;
    }

    .imageSearch {
        background-color: white;
        box-shadow: 2px 2px 15px #777;
        border-radius: 1em;
        width: 15em;
        position: fixed;
        top: 1em;
        right: 1em;
        overflow: hidden;
    }


    .imageSearch fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }

    .imageSearch input, .imageSearch button {
        display: block;
        width: 100%;
    }

    .imageSearch legend {
        text-align: center;
        color: white;
        background-color: #999;
        width: 100%;
        padding: 1em 0;
    }

    .imageSearch button {
        background-color: #336699;
        color: white;
        padding: 1em 0;
        border: none;
        /*transition: all 1s ease;*/
    }

    .imageSearch input {
        border: none;
        border-bottom: 2px solid #CCC;
        padding: 0.5em 0;
        margin: 3em 0;
    }

    .imageSearch button:hover {
        background-color: #663399;
        cursor: pointer;
    }
}